<div id="introduction">Below are a list of galleries that contain images of animals.</div>
  <h2> <%= @title %> </h2>
    <ul>
      <li><a href='galleries/cats'>Cats</a></li>
      <li><a href='galleries/dogs'>Dogs</a></li>
      </ul>
</div>
