<form action="/galleries" method="POST">
  <h2>New Gallery</h2>
  <div>
    <label for="gallery_name">Name</label>
    <input type="text" name="gallery[name]" id="gallery_name">
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
</form>
